ap-data-model-cpp-schema/src/schemadata/schemas/erbs/j.1.22/SiteInstallation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
ProductNumber  = 'CXC2010180/1'       R-State='R12D01'
DocumentNumber = '3/155 19-CSH 103 22'
Node version: 17.Q2

File    : SiteInstallation.xsd
Purpose : Schema file for Site Installation
Format  : Revison = 'N'

Modified: June 14 2016
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">
	<xs:simpleType name="ipv4oIpv6Type">
    		<xs:restriction base="xs:string">
      			<xs:pattern value="((((25[0-5])|(2[0-4][0-9])|([01]?[0-9]?[0-9]))\.){3}((25[0-5])|(2[0-4][0-9])|([01]?[0-9]?[0-9])))|(s*((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3})|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:)))(%.+)?\s*)"/>
    		</xs:restriction>
  	</xs:simpleType>
  	<xs:simpleType name="routingSubnetMask">
    		<xs:restriction base="xs:string">
      			<xs:pattern value="(((25[0-5])|(2[0-4][0-9])|([01]?[0-9]?[0-9]))\.){3}((25[0-5])|(2[0-4][0-9])|([01]?[0-9]?[0-9])|(12[0-8])|(1[0-1][0-9])|([1-9]?[0-9]))"/>
    		</xs:restriction>
  	</xs:simpleType>
	<xs:element name="RbsSiteInstallationFile">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Format">
					<xs:annotation>
						<xs:documentation>Contains information about the revision of the schema.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="revision" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="H"/>
									<xs:enumeration value="I"/>
			                        <xs:enumeration value="J"/>
			                        <xs:enumeration value="K"/>
									<xs:enumeration value="L"/>
									<xs:enumeration value="M"/>
									<xs:enumeration value="N"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="InstallationData">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OamIpConfigurationData" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DnsServer" minOccurs="0">
											<xs:complexType>
												<xs:attribute name="ipAddress" type="ipv4oIpv6Type" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ipAddress" type="ipv4oIpv6Type" use="required"/>
									<xs:attribute name="subnetMask" type="ipv4oIpv6Type" use="optional"/>
									<xs:attribute name="defaultRouter0" type="ipv4oIpv6Type" use="required"/>
									<xs:attribute name="defDomainName" type="xs:string" default=""/>
									<xs:attribute name="networkPrefixLength" default="64" use="optional">
									    <xs:simpleType>
                                                                               <xs:restriction base="xs:int">
                                                                                  <xs:minInclusive value="0"/>
                                                                                  <xs:maxInclusive value="128"/>
                                                                               </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="SmrsData" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="address" type="xs:string" use="required"/>
									<xs:attribute name="summaryFilePath" type="xs:string" use="required"/>
									<xs:attribute name="userName" type="xs:string" use="optional"/>
									<xs:attribute name="password" type="xs:string" use="optional"/>
									<xs:attribute name="port" type="xs:int" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="logicalName" type="xs:string" default=""/>
						<xs:attribute name="vlanId" default="-1">
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:minInclusive value="-1"/>
									<xs:maxInclusive value="4094"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="dhcpClientIdentifier" type="xs:string" use="optional"/>
						<xs:attribute name="rbsIntegrationCode" type="xs:string" use="optional"/>
						<xs:attribute name="tnPort" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="UntrustedNetworkTemporaryConfigurationData" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OuterIpConfigurationData" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="OuterDnsServer" minOccurs="0">
											<xs:complexType>
												<xs:attribute name="ipAddress" use="required" type="ipv4oIpv6Type"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="SecGW" minOccurs="0">
											<xs:complexType>
												<xs:attribute name="ipAddress" type="ipv4oIpv6Type"/>
												<xs:attribute name="FQDN" use="optional" type="xs:string"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ipAddress" use="required" type="ipv4oIpv6Type"/>
									<xs:attribute name="subnetMask" use="required" type="ipv4oIpv6Type"/>
									<xs:attribute name="defaultRouter0" use="required" type="ipv4oIpv6Type"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="InnerIpConfigurationData" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="InnerDnsServer" minOccurs="0">
											<xs:complexType>
												<xs:attribute name="ipAddress" use="required" type="ipv4oIpv6Type"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ipAddress" use="required" type="ipv4oIpv6Type"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>