ap-data-model-cpp-schema/src/schemadata/schemas/erbs/ap/AutoIntegration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="AutoIntegration">
        <xs:all>
            <xs:element name="upgradePackageName" type="NonEmptyString" minOccurs="0" />
            <xs:element name="basicPackageName" type="NonEmptyString" minOccurs="0" />
            <xs:element name="unlockCells" type="Boolean" minOccurs="1" maxOccurs="1" />
            <xs:element name="uploadCVAfterIntegration" type="Boolean" minOccurs="1" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
</xs:schema>